
  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
.html,.body{
  height: 100%;
}
.github{
  width: 114px;
  height: 114px;
  margin-bottom: 50px;
}
.socialNetworks{
  display: flex;
  flex-direction: column;
  margin: 60px 0px 0px 70px;
  align-items: center;
  width: 10vw;
  
}
.linkedin{
  width: 87px;
  height: 87px;
  margin-bottom: 50px;
}
.gmail{
  width: 87px;
  height: 92px;
  margin-bottom: 50px;
}
.cv{
  width: 114px;
  height: 114px;
  margin-bottom: 50px;
}
.dani{
  position: absolute;
  margin-top: 600px;
  width: 250px;
  height: 250px;
}
.v1w{
  font-family: 'Gloria Hallelujah', cursive;
  font-size:55px;
  z-index: 2;
}
.v13c{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image:  url("./img/bground.png");
  background-size: cover;
  overflow-y: hidden;
}
.v1c{
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 400px;
  width: 70vw;
  height: 100%;
}
.v2c{
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 180px;
  width: 90vw;
  height: 100%;
}
.v3c{
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  margin-left: 180px;
  width: 90vw;
  height: 100%;
}
.v2Education{
  margin-top: 0px;
  margin-left: -30px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #9BFBE199;
  width: 500px;
  height: 130px;
}
.v3Experience{
  margin-top: 0px;
  margin-left: -30px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #FAA99D99;
  width: 790px;
  height: 130px;
}
.v4Projects{
  margin-top: 0px;
  margin-left: -50px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #67EBFA99;
  width: 450px;
  height: 110px;
}
.developer{
  margin-top: 10px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #FAA99D99;
  width: 420px;
  height: 100px;
  margin-left: 0px;
}
.leader{
  margin-top: 150px;
  margin-right: -120px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #F6A5EB99;
  width: 400px;
  height: 100px;
}
.name{
  margin-top: 340px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #FDDF7E99;
  width: 850px;
  height: 130px;
}
.being{
  margin-top: 540px;
  margin-left: -260px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #9BFBE199;
  width: 400px;
  height: 100px;
}
.engineer{
  margin-top: 650px;
  position:absolute;
  z-index: 1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #CE97FD99;
  width: 270px;
  height: 90px;
}
.lead, .leader{
  align-self: flex-end;
}
.lead{
  margin-top: 30px;
  margin-right: 10px;
  margin-right: -100px;
}

.name, .na{
  align-self: center;
}
.engineer, .en{
  align-self: flex-end;
}
.en{
  margin-right: 110px;
}
.engineer{
  margin-right: 90px;
}
.na{
  margin-top: 100px;
}
.be{
  margin-top: 70px;
  margin-left: -230px;
}
.dev{
  margin-left: 20px;
}
.navbar{
  display: flex;
  flex-direction: column;
  width: 25vw;
  overflow-x: hidden;
  justify-content: center;
}
.community,.projects, .education, .home, .experience{
  z-index: 3;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  height: 130.23px;
  border-radius: 30px 0px 0px 30px;
  padding-left: 15px;
  transform: translateX(80%);
  align-items: center;
}
.community{
  background: #CE97FD;
}
.community:hover {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;

}
.projects{
  background: #67EBFA;
  transition: all 0.3s ease-in-out;


}
.projects:hover {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;

}
.education{
  background: #FAA99D;
}
.education:hover {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;


}
.home{
  background: #F6A5EB;
}
.home:hover {
  transform: translateX(25%);
  transition: all 0.3s ease-in-out;

}
.experience{
  background: #9BFBE1;
}
.experience:hover {
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;

}
.imgHome{
  width: 59px;
  height: 59px;
  margin-right:10px ;
}
.imgEducation{
  width: 51px;
  height: 51px;
  margin-right:20px ;
}
.imgExperience{
  width: 54px;
  height: 54px;
  margin-right:20px ;
}
.imgProjects{
  width: 74px;
  height: 74px;
  margin-right:20px ;
}
.imgCommunity{
  width: 56px;
  height: 56px;
  margin-right:20px ;
}
a{
  text-decoration: none;
  color: inherit;
}
.title{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 70px;
  z-index: 2;
}
.gridStudies {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* crea tres columnas con un ancho de 1fr cada una */
  grid-template-rows: repeat(1, 500px); /* crea cuatro filas de 100px de alto cada una */
  grid-gap: 50px; /* establece un espacio de 10px entre las filas y columnas */
  justify-content: center;
  font-size: 34px;
  text-align: center;
}
.programate img{
  width: auto;
  height: 150px;
  margin-bottom: 30px;
}
.uniandes img{
  width: 150px;
  height: auto;
  
}
.siemens img{
  width: 360px;
  height: auto;
  margin-bottom: 2px;
}
.siemens{
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.colenergy img{
  width: 400px;
  height: auto;
}
.gridExperience {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* crea tres columnas con un ancho de 1fr cada una */
  grid-template-rows: repeat(1, 500px); /* crea cuatro filas de 100px de alto cada una */
  grid-gap: 50px; /* establece un espacio de 10px entre las filas y columnas */
  justify-content: center;
  font-size: 34px;
  text-align: center;
}
.correo{
  display: flex;
  flex-direction: row;
}
.mensajeCopiado{
  border-color: black;
  border-width: 1px;
  background-color: yellow;
  margin-left: 10px;
  border: 1px;
  font-size: 25px;
  position:absolute;
  margin-top: 300px;
  z-index: 1;
}
.gridProjects {
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* crea tres columnas con un ancho de 1fr cada una */
  grid-template-rows: repeat(3, 200px); /* crea cuatro filas de 100px de alto cada una */
  grid-gap: 50px; /* establece un espacio de 10px entre las filas y columnas */
  justify-content: center;
  font-size: 25px;
  text-align: center;
}

